.main-top {
  background: #fdd04a;
}
.sponsors {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 128px 0 130px;
}
.sponsors h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
  color: #222730;
}
.sponsors p {
  margin: 44px 0 41px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #555555;
}
.sponsor-cards {
  display: flex;
  align-items: center;
  gap: calc(33.6px);
}
.sponsor-card {
  cursor: pointer;
}
.gaming-needs {
  background-image: url("../assets/img/main/needs/bg-image.png");
  justify-content: center;
  padding: 136px 0 130px;
}
.needs-top {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-needs {
  display: flex;
  align-items: center;
}
.header-needs span {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #57b8ff;
}
.needs-top h1 {
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 12px;
  margin-bottom: 39px;
}
.needs-top h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: rgba(223, 223, 223, 0.8);
  margin-bottom: 60px;
}
.needs-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 35px; */
}
.needs-card {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.15);
  width: 642.46px;
  border-radius: 20px;
  padding: 35px 40px;
  filter: 5px;
  -webkit-filter: 5px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.card-header {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 19px;
}
.middle {
  background: #000;
  padding: 85px 0px;
}
.middle-left-header {
  display: flex;
  align-items: center;
}
.middle-left-header span {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #57b8ff;
}
.middle-left h1 {
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 12px;
  margin-bottom: 38px;
}
.middle-left p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(223, 223, 223, 0.8);
  margin-bottom: 54px;
}
.middle-left button {
  background: #57b8ff;
  padding: 21px 34px;
}
